/* CSS Custom Classes */
.margin-top-100px {
	margin-top: 100px;
}

.margin-top-50px {
	margin-top: 50px;
}

/*Answer div CSS*/
#answer-div {
	height: 300px;
}

#answer-div input[type="radio"] {
	margin: 10px 20px;
}

#answer-div pre {
	cursor: pointer;
}